/* This css file has been divided into 7 sections: 
    (General)
-General Styles
-Utilities
    (Web Page Components)
-Introduction (this also includes styling for the navigation bar)
-Information
-Quote
-Prompt
-Footer

Each section has a comment with a "||" and section name above it for easy navigation. */

/* || General Styles */

/* This is a flex container so that the footer can be pushed down to the buttom of the page when zooming out */
body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

a:hover {
  color: white;
  text-decoration: none;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 40px;
  width: fit-content;
  border-radius: 10px;
}

/* || Utilities */

/* This is used to make sure that the contents of the webpage are contained in the middle 75% of the viewport (unless you zoom out). */
.content {
  width: 75vw;
  max-width: 1440px;
  margin: 0 auto;
}

.white-border {
  border-color: ghostwhite;
  border-width: 3px;
}

.no-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* || Introduction */

.intro-background {
  background-color: #1F2937;
  color: #E5E7EB;
  flex: 0 0 auto;
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 100px;
}

/* min-width is 180px to stop header logo from occupying two lines when zooming in */ 
.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
  min-width: 180px;
}

.header-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  column-gap: 30px;
  row-gap: 5px;
}



.intro {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
  gap: 50px;
}

/* flex basis is 360px for both the intro-text and intro-image elements so that they wrap nicely (nicely on my 22″ 1920x1080 monitor 
using a modern version of chrome at least) */
.intro-text {
  flex: 1 1 360px;
  display: flex;
  flex-direction: column; 
}

.intro-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  margin: 0;
}

.intro-image {
  flex: 1 1 360px;
  object-fit: cover;
  height: 300px;
  width: 100%;
}


/* || Information */

.info-background {
  background-color: ghostwhite;
  flex: 0 0 auto;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin: 0;
}

.info {
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.info-panel {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.media-object {
  width: 200px;
}

.media-object img {
  width: 100%;
  border: 3px solid #3882F6;
  border-radius: 15px;
}

.media-object p {
  color: rgb(50, 50, 50);
  text-align: center;
}


/* || Quote */

.quote-background {
  background-color: #E5E7EB;
  flex: 0 0 auto;
}

.quote {
  padding: 100px 0px;
  max-width: 864px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.quote-content {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  margin: 0px;
}

footer.quote-author {
  font-size: 24px;
  font-weight: 900;
  color: black;
  text-align: right;
  margin: 10px 5% 0px 0px;
}

cite {
  font-style: normal;
}


/* || Prompt */

/* flex-grow is 1 so that the footer is pushed down to the bottom of the page when zooming out */
.prompt-background {
  background-color: ghostwhite;
  padding: 100px 0px;
  flex: 1 0 auto;
}

/* there isn't much space for the content of the prompt when zooming in unless you scale the padding based on viewport height and width */
.prompt {
  padding: min(5vh, 77px) min(5vw, 96px);
  background-color: #3882F6;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.prompt-text {
  flex: 1 1 330px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.prompt-text h2 {
  font-size: 24px;
  font-style: bold;
}

.prompt-text h2, .prompt-text p {
  color: ghostwhite;
  margin: 0px;
  padding: 0px;
}

.prompt button {
  align-self: flex-end;
  flex-shrink: 0;
}


/* || Footer */

.footer-background {
  padding: 30px 0px;
  background-color: #1F2937;
  flex: 0 0 auto;
}

footer {
  color: ghostwhite;
  text-align: center;
}