body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

a:hover {
  color: white;
  text-decoration: none;
}


.intro-background {
  background-color: #1F2937;
  color: #E5E7EB;
  flex: 0 0 auto;
}

.content {
  width: 75vw;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 100px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
  min-width: 180px;
}

.header-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  column-gap: 30px;
  row-gap: 5px;
}

.intro {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
  gap: 50px;
}

.intro-text {
  flex: 1 1 360px;
  display: flex;
  flex-direction: column; 
}

.intro-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  margin: 0;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 40px;
  width: fit-content;
  border-radius: 10px;
}

.intro-image {
  flex: 1 1 360px;
  min-width: 0;
  object-fit: cover;
  height: 300px;
  width: 100%;
}




.info-background {
  background-color: ghostwhite;
  flex: 0 0 auto;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin: 0;
}

.info {
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.info-panel {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.media-object {
  width: 200px;
}

.media-object img {
  width: 100%;
  border: 3px solid #3882F6;
  border-radius: 15px;
}

.media-object p {
  color: rgb(50, 50, 50);
  text-align: center;
}




.quote-background {
  background-color: #E5E7EB;
  flex: 0 0 auto;
}

.quote {
  padding: 100px 0px;
  max-width: 864px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

}

.quote-content {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  margin: 0px;
}

footer.quote-author {
  font-size: 24px;
  font-weight: 900;
  color: black;
  text-align: right;
}

cite {
  font-style: normal;
}


.prompt-background {
  background-color: ghostwhite;
  padding: 100px 0px;
  flex: 1 0 auto;
}

.prompt {
  padding: min(5vh, 77px) min(5vw, 96px);
  background-color: #3882F6;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.prompt-text {
  flex: 1 1 330px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.prompt-text h2 {
  font-size: 24px;
  font-style: bold;
}

.prompt-text h2, .prompt-text p {
  color: ghostwhite;
  margin: 0px;
  padding: 0px;
}

.prompt button {
  align-self: flex-end;
  flex-shrink: 0;
}

.white-border {
  border-color: ghostwhite;
  border-width: 3px;
}

.footer-background {
  padding: 30px 0px;
  background-color: #1F2937;
  flex: 0 0 auto;
}


footer {
  color: ghostwhite;
  text-align: center;
}